# SQL Server
SQLSERVER_SA_PASSWORD=yourStrongPasswordHere

# MongoDB
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=yourMongoRootPassword

# Mongo Express
ME_CONFIG_BASICAUTH_USERNAME=mongoexpressuser
ME_CONFIG_BASICAUTH_PASSWORD=yourMongoExpressPassword

# RabbitMQ
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=yourRabbitMQPassword

# Keycloak
KC_DBNAME=keycloakdb
KC_DB_USERNAME=username
KC_DB_PASSWORD=yourStrongPasswordHere
KEYCLOAK_ADMIN_PASSWORD=yourKeycloakAdminPassword