root = true

[*.cs]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true:warning
csharp_style_namespace_declarations = file_scoped:warning
csharp_prefer_braces = true:warning
dotnet_style_require_accessibility_modifiers = always:warning

#CA1873: Avoid potentially expensive logging
dotnet_diagnostic.CA1873.severity = none

#CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = none

#CA1001: Types that own disposable fields should be disposable
dotnet_diagnostic.CA1001.severity = none

# CA1707: Identifiers should not contain underscores - ignore for unit tests
[{*Test.cs,*Tests.cs,*TestsBase.cs}]
dotnet_diagnostic.CA1707.severity = none

#CA1051: Do not declare visible instance fields
[{*Test.cs,*Tests.cs,*TestsBase.cs}]
dotnet_diagnostic.CA1051.severity = none